﻿@model  Assignment03.Models.ViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Search", "Employees", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Search, new { htmlAttributes = new { @class = "form-control" } })
        
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Search" class="btn btn-default" />
        </div>
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Name")
        </th>
        <th>
            @Html.DisplayName("Salary")
        </th>
        <th>
            @Html.DisplayName("Deparment")
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model.Employees)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Salary
            </td>
            <td>
                @item.Department
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeID }) |
                @Html.ActionLink("Details", "Details", new { id = item.EmployeeID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeID })
            </td>
        </tr>
    }

</table>
